@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DemoMongoDB.Models.UserAccounts>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
<<<<<<< HEAD
    bool QuanLyKhachHang = User.Claims.Any(c => c.Type == "FunctionId66763b9db0fe10429a3f150f" && c.Value ==
    "66763b9db0fe10429a3f150f");
=======
    bool QuanLyKhachHang = User.Claims.Any(c => c.Type == "FunctionId66763b9db0fe10429a3f150f" && c.Value == "66763b9db0fe10429a3f150f");
>>>>>>> refs/remotes/origin/main
    bool CanCreate = User.Claims.Any(c => c.Type == "CanCreate66763b9db0fe10429a3f150f" && c.Value == "True");
    bool CanEdit = User.Claims.Any(c => c.Type == "CanEdit66763b9db0fe10429a3f150f" && c.Value == "True");
    bool CanRead = User.Claims.Any(c => c.Type == "CanRead66763b9db0fe10429a3f150f" && c.Value == "True");
    bool CanDelete = User.Claims.Any(c => c.Type == "CanDelete66763b9db0fe10429a3f150f" && c.Value == "True");

    <div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách người dùng : page @CurrentPage</span>
        </nav>
    </div>
</div>
    <div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                    </div>
                </div>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên người dùng</th>
                        <th>Avatar</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Lần đăng nhập cuối</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item._id</td>
                                    <td>@item.FullName</td>
                                    <td>
                                        <img width="100" height="75" src="~/images/avatars/@item.Avatar" alt="@item.FullName" />
                                    </td>
                                    <td>@item.CreateDate</td>
                                    <td>
                                        @if (item.Active == true)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Active</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>InActive</div>
                                            </div>
                                        }
                                    </td>
                                    <td>@item.LastLogin</td>

                                    <td>
<<<<<<< HEAD
                                        @if (QuanLyKhachHang && CanRead)
                                        {
                                            <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminUserAccounts"
                                                asp-action="Details" asp-route-id="@item._id">View</a>
                                        }
                                        @if (QuanLyKhachHang && CanEdit)
                                        {
                                            <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminUserAccounts"
                                                asp-action="Edit" asp-route-id="@item._id">Edit</a>
                                        }
                                        @if (QuanLyKhachHang && CanDelete)
                                        {
                                            <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminUserAccounts"
                                                asp-action="Delete" asp-route-id="@item._id">Delete</a>
=======
                                        @if(QuanLyKhachHang && CanRead)
                                        {
                                            <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminUserAccounts" asp-action="Details" asp-route-id="@item._id">View</a>
                                        }
                                        @if(QuanLyKhachHang && CanEdit)
                                        {
                                            <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminUserAccounts" asp-action="Edit" asp-route-id="@item._id">Edit</a>
                                        }
                                        @if(QuanLyKhachHang && CanDelete)
                                        {
                                            <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminUserAccounts" asp-action="Delete" asp-route-id="@item._id">Delete</a>
>>>>>>> refs/remotes/origin/main
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <div class="text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

}