@model DemoMongoDB.Models.Courses

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>lớp học</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YouTubeUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YouTubeUrl)
            @if (!string.IsNullOrEmpty(Model.YouTubeUrl))
            {
                var videoId = ExtractYouTubeVideoId(Model.YouTubeUrl);
                if (videoId != null)
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@videoId"
                            allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    <span>Invalid YouTube URL</span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@functions {
    public string ExtractYouTubeVideoId(string url)
    {
        var regex = new
        System.Text.RegularExpressions.Regex(@"(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})");
        var match = regex.Match(url);
        return match.Success ? match.Groups[1].Value : null;
    }
}
