@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DemoMongoDB.Models.Courses>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khóa học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @* var classList = ViewBag.lsClass as List<DemoMongoDB.Models.Classes>; *@
}

@if (User.Identity.IsAuthenticated)
{
<<<<<<< HEAD
    bool QuanLyKhoaHoc = User.Claims.Any(c => c.Type == "FunctionId66763bd4b0fe10429a3f1512" && c.Value ==
    "66763bd4b0fe10429a3f1512");
=======
    bool QuanLyKhoaHoc = User.Claims.Any(c => c.Type == "FunctionId66763bd4b0fe10429a3f1512" && c.Value == "66763bd4b0fe10429a3f1512");
>>>>>>> refs/remotes/origin/main
    bool CanCreate = User.Claims.Any(c => c.Type == "CanCreate66763bd4b0fe10429a3f1512" && c.Value == "True");
    bool CanEdit = User.Claims.Any(c => c.Type == "CanEdit66763bd4b0fe10429a3f1512" && c.Value == "True");
    bool CanRead = User.Claims.Any(c => c.Type == "CanRead66763bd4b0fe10429a3f1512" && c.Value == "True");
    bool CanDelete = User.Claims.Any(c => c.Type == "CanDelete66763bd4b0fe10429a3f1512" && c.Value == "True");

<<<<<<< HEAD
    <div class="page-header">
=======
<div class="page-header">
>>>>>>> refs/remotes/origin/main
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách khóa học : page @CurrentPage</span>
        </nav>
    </div>
</div>
    <div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                    </div>
                </div>
            </div>
<<<<<<< HEAD
            @if (QuanLyKhoaHoc && CanCreate)
                {
                    <div class="col-lg-4 text-right">
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCourses" asp-action="Create"><i
                                class="anticon anticon-plus-circle m-r-5"></i> <span>Add Course</span></a>
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên khoá học</th>
                            <th>Ảnh đại diện</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
=======
            @if(QuanLyKhoaHoc && CanCreate)
            {
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCourses" asp-action="Create"><i
                        class="anticon anticon-plus-circle m-r-5"></i> <span>Add Course</span></a>
            </div>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên khoá học</th>
                        <th>Ảnh đại diện</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
>>>>>>> refs/remotes/origin/main
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item._id</td>
                                    <td>@item.Title</td>
                                    <td>
                                        <img width="100" height="75" src="~/images/courses/@item.Thumb" alt="@item.Title" />
                                    </td>
                                    <td>@item.CreateDate</td>
                                    <td>
                                        @if (item.Active == true)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Active</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Not Active</div>
                                            </div>
                                        }
                                    </td>

<<<<<<< HEAD
                                    <td>
                                        @if (QuanLyKhoaHoc && CanRead)
                                        {
                                            <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminCourses"
                                                asp-action="Details" asp-route-id="@item._id">View</a>
                                        }
                                        @if (QuanLyKhoaHoc && CanEdit)
                                        {
                                            <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminCourses"
                                                asp-action="Edit" asp-route-id="@item._id">Edit</a>
                                        }
                                        @if (QuanLyKhoaHoc && CanDelete)
                                        {
                                            <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminCourses"
                                                asp-action="Delete" asp-route-id="@item._id">Delete</a>
                                        }
                                    </td>
                                </tr>
                            }
=======
                                <td>
                                    @if(QuanLyKhoaHoc && CanRead)
                                    {
                                    <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminCourses"
                                        asp-action="Details" asp-route-id="@item._id">View</a>
                                    }
                                    @if(QuanLyKhoaHoc && CanEdit)
                                    {
                                    <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminCourses"
                                        asp-action="Edit" asp-route-id="@item._id">Edit</a>
                                    }
                                    @if(QuanLyKhoaHoc && CanDelete)
                                    {
                                    <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminCourses"
                                        asp-action="Delete" asp-route-id="@item._id">Delete</a>
                                    }
                                </td>
                            </tr>
>>>>>>> refs/remotes/origin/main
                        }
                    </tbody>

                </table>
                <div class="text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
}
=======
</div>
}
>>>>>>> refs/remotes/origin/main
